; Variables de entorno para tests de integracion manuales.
; Pensado para usar desde PhpStorm como env file.

ESCRIPTA_TEST_AWS_SECRET_NAME=escripta/test
ESCRIPTA_TEST_AWS_SECRET_EXPECTED_JSON={"key_1":"value_1","key_2":"value_2"}

ESCRIPTA_TEST_OP_ITEM_NAME=escripta_test_value
ESCRIPTA_TEST_OP_ITEM_EXPECTED_JSON={"key_1":"value_1","key_2":"value_2"}
